RICE_USER_BASE_URL=http://localhost:3000
RICE_ADMIN_BASE_URL=http://localhost:3002

RICE_UI_USER_USERNAME=testuser1
RICE_UI_USER_PASSWORD=123456

RICE_UI_EXPERT_USERNAME=expert
RICE_UI_EXPERT_PASSWORD=123456

RICE_UI_MERCHANT_USERNAME=merchant
RICE_UI_MERCHANT_PASSWORD=123456

RICE_UI_ADMIN_USERNAME=admin1
RICE_UI_ADMIN_PASSWORD=123456

CHROMEDRIVER_PATH=
UI_HEADLESS=1
